# ==========================================
# SALC Frontend Workspace - .gitignore
# ==========================================

# Node and Bun dependencies
**/node_modules

# Build outputs
**/dist
**/dist-ssr
**/build

# Environment variables
**/.env
**/.env.local
**/.env.production
**/*.local

# Logs
**/logs
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/lerna-debug.log*
**/bun.log
tsc.logs

# Editor directories and OS files
**/.vscode/*
!**/.vscode/extensions.json
**/.idea
**/.DS_Store

# C# / Visual Studio (Just in case)
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?