# Ignorar dependencias (¡Docker las instalará por su cuenta!)
node_modules
apps/*/node_modules
packages/*/node_modules

# Ignorar archivos compilados locales
dist
apps/*/dist
packages/*/dist
build

# Ignorar logs y cachés
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store

# Ignorar carpetas de configuración del editor y Git
.git
.gitignore
.vscode
.idea
.agents
.docs

# Ignorar variables de entorno locales (solo pasaremos las de prod mediante el compose)
.env
.env.local
.env.test.local

# Archivos informativos que Docker no necesita para compilar
README.md
*.md